<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Extractor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <Extractor.Properties.Settings>
            <setting name="OFDRRootFolder" serializeAs="String">
                <value>.\Resources</value>
            </setting>
            <setting name="DATFilePath" serializeAs="String">
                <value>.\Resources\dat.exe</value>
            </setting>
            <setting name="OutputFolder" serializeAs="String">
                <value>.\Resources\unpacked</value>
            </setting>
            <setting name="MaxUnpackingParallelismCount" serializeAs="String">
                <value>1</value>
            </setting>
        </Extractor.Properties.Settings>
    </userSettings>
</configuration>
